@charset "UTF-8";

/* 全体設定 */
html {
  max-width: 100%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

img {
  max-width: 100%;
}

/****** ヘッダー ******/

/****** メイン ******/

/****** フッター ******/

/****** レスポンシブ ******/
@media screen and (max-width:1128px) {
  /****** ヘッダー ******/

  /****** メイン ******/

  /****** フッター ******/
}

@media screen and (max-width:980px) {
  /****** ヘッダー ******/

  /****** メイン ******/

  /****** フッター ******/
}

@media (max-width:768px) {
  /****** ヘッダー ******/

  /****** メイン ******/

  /****** フッター ******/
}
