@charset "UTF-8";

/* 全体設定 */
html {
  max-width: 100%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

img {
  max-width: 100%;
}

body {
  background-color: whitesmoke;
}

ul, li {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 23px;
}

/****** ヘッダー ******/
header {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #333;
}

div.header {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

div.title {
  position: absolute;
  top: 30%;
  /* 左右中央寄せ */
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

div.title h1 {
  font-size: 72px;
  color: white;
  text-align: center;
}

div.title p {
  font-size: 38px;
  color: white;
  text-align: center;
}

/****** メイン ******/
div.block {
  border: 2px solid #333;
  margin: 10px 0;
  padding: 10px;
  background-color: white;
}

div.block h2 i {
  margin-right: 15px;
}

/* プロフィール */
p.name {
  width: 100%;
  text-align: center;
}

p.self-introduction {
  color: dimgray;
  font-size: 14px;
}

/* コンタクト */
span.label {
  font-size: 16px;
}

span.mail {
  font-size: 16px;
}

div.contact p.label {
  width: 25%;
}

/* SNSボタン全体 */
ul.snsbtniti {
  list-style: none;
}

.flowbtn {
  font-family: 'Arial', sans-serif;
  /* 好きなフォントを指定してね */
  border-radius: 4px;
  position: relative;
  display: inline-block;
  width: 66px;
  height: 58px;
  font-size: 30px;
  color: #fff !important;
  transition: .5s;
  text-decoration: none;
  box-shadow: 0 1px 2px #999;
}

.flowbtn i{
  position:relative;
  bottom:0px;
}
/* Twitter */
.fl_tw1 {
  background: #55acee;
}

/* Github */
.fl_git {
  background: #000;
}

/* WordPress */
.fl_wp {
  background: #1ba5dc;
}

/* ボタン内テキスト調整 */
.flowbtn div {
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 0;
  position: relative;
  bottom: 4px;
}

/* ボタンマウスホバー時 */
.flowbtn:hover {
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
  text-decoration: none;
}

/* ulタグの内側余白を０にする */
ul.snsbtniti {
  padding: 0 !important;
}

/* ボタン全体の位置調整 */
.snsbtniti {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

/* ボタン同士の余白調整 */
.snsbtniti li {
  flex: 0 0 33%;
  text-align: center !important;
}

/* スキル */
div.skil-details {
  padding: 10px;
  position: relative;
  padding: 0.5em 1.5em;
  height: 100%;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}

div.skil-details:before,
div.skil-details:after {
  content: '';
  position: absolute;
  top: -10px;
  width: 2px;
  height: -webkit-calc(100% + 20px);
  height: calc(100% + 20px);
  background-color: black;
}

div.skil-details:before {
  left: 10px;
}

div.skil-details:after {
  right: 10px;
}

div.skil-details p {
  margin: 0;
  padding: 0;
}

div.skils {
  padding-left: 1.2em;
  padding-right: 1.2em;
  padding-bottom: 2em;
}

div.skils h2 {
  margin-bottom: 0.8em;
}

div.skils ul {
  margin-left: 1.2em;
}

div.skils li {
  display: flex;
  list-style: none;
}

div.skils p.tech {
  width: 40%;
}

div.skils i {
  width: 15px;
  margin-right: 0.8em;
}

p.label {
  text-align: left;
}

p.level {
  width: 50%;
  text-align: right;
}

/* 成果物 */
div.work-area {
  /* 高さを揃える start */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /* 高さを揃える end */
}

div.explanation {
  padding: 2em;
}

div.performance a:hover {
  text-decoration: none;
}

div.performance a {
  display: block;
  margin-left: 0.6em;
  margin-right: 0.6em;
}

div.work-card {
  max-width: 340px;
  max-height: 600px;
  border: 1px solid dimgray;
}

div.work-card img {
  width: auto;
}

div.work-card h3.title,
div.work-card p.description {
  color: dimgray;
}

div.work-card h3.title {
  font-size: 18px;
}

p.description {
  margin: 0;
}

/* キャリア */
div.career p {
  margin: 0;
}

div.career p.project {
  width: 70%;
}

div.career p.year {
  width: 30%;
  text-align: right;
}

div.career {
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 1.5em;
}

div.career li {
  display: flex;
  list-style: none;
  border-bottom: 2px dashed;
  width: 100%;
  margin: 1.2em 5em 0 0;
}

/****** フッター ******/
footer {
  width: 100%;
  height: auto;
  background-color: #333;
  padding: 40px 0;
}

div.copyright {
  color: white;
  position: absolute;
  /* 左右中央寄せ */
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

div.copyright p {
  margin: 0;
}

/****** レスポンシブ ******/
@media screen and (max-width:1128px) {
  /****** ヘッダー ******/
  /****** メイン ******/
  /****** フッター ******/
}

@media screen and (max-width:980px) {
  /****** ヘッダー ******/
  /****** メイン ******/
  /****** フッター ******/
}

@media (max-width:768px) {
  /****** ヘッダー ******/
  /****** メイン ******/
  /****** フッター ******/
}
